/* Image of the newsletter component for reference. Please don't remove. */
body {
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/273280/newsletter-new.png)
		no-repeat calc(100% - 10px) 10px;
	margin: 0;
	padding: 10px;
}

/*
  Some hex values to help:

  Blue: #008EBB
  Light blue: 87E3FF
  Gray: #989898

*/
.container{
    background-color: rgba(250, 235, 215, 0.623);
    width: 450px;
    height: 270px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #008EBB;
    border-top: 3px solid #008ebb;
    border-bottom: 1px solid #87E3FF;
    padding: 7px 0;
}